@page "/alreadyDone"
<style>
   .done-content{
     text-align: center;
   }
</style>
<div class="done-content">

    <h3>It seems you have already done this test!</h3>
    <p>If that is not the case, contact your recruiter ASAP for help.</p>
</div>

@code {

}
