@page "/done"

<style>
   .done-content{
     text-align: center;
   }
</style>
<div class="done-content">

    <h3>You're all done!</h3>
    <p>You should get feedback on the results soon.</p>
</div>

@code {

}
