@page "/QuestionPage"
@using CodeSubmissionSimple.Client.Services
<style>

    .outer {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .wrapper {
        width: 100%;
        height: 80%;
        display: flex;
    }

    .left {
        width: 58%;
        height: 100%;
    }

    .right {
        width: 40%;
        height: 100%;
    }

    textarea {
        width: 100%;
        height: 100%;
        margin: 10px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    .right {
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin: 5px;
    }

    .bottom {
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    btn, a {
        margin: 5px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

</style>
<div class="outer">
    <div class="wrapper">
        <div class="left">
            <!--TextArea-->
            @if (Questions != null)
            {
                <textarea @bind="TempCode"></textarea>
            }

        </div>
        <div class=" right">
            <!--Question-->
            @if (Questions != null)
            {
                <br>
                @if (Questions.Count > counter)
                {
                    <p><h4>Question:</h4> <br />@(Questions[counter].Description)</p>
                }

            }
        </div>
    </div>
    <div class="bottom">
        <div class="col-sm-8 buttons btn-container">
            <!--Buttons-->
            @if (counter > 0)
            {
                <button id="prev" type="button" class="btn  btn-primary btn-lg" @onclick="Previous">Prev</button>
            }
            @if (counter < Length - 1)
            {
                <button id="next" type="button" class="btn btn-primary btn-lg btn-success" @onclick="Next">Next</button>
            }
            else
            {
                <a href="@($"Submission/{Questions}")"
               class="btn btn-primary m-1">Submit</a>
            }
        </div>

    </div>
</div>


@code {
    [Inject]
    IQuestionDataService _qClient { get; set; }



    List<Question> Questions { get; set; } = new List<Question>();

    string TempCode { get; set; } = "";

    int counter { get; set; } = 0;
    int Length { get; set; } = 0;
    protected override async Task OnInitializedAsync()
    {
        Questions = await _qClient.GetAllQuestions();
        counter = 0;
        Length = Questions.Count();
        setStub(counter);
    }

    private void setStub(int counter)
    {
        if (counter > 0 || counter < Length)
        {
            TempCode = Questions[counter].CodeStub;
        }
    }

    private string getStub(int counter)
    {
        string code = "";
        if (counter >= 0 || counter < Length)
        {
            code = Questions[counter].CodeStub;
        }
        else
        {

        }
        return code;
    }
    private void Previous()
    {
        Questions[counter].CodeStub = TempCode;
        if (counter > 0)
        {
            --counter;
        }
        setStub(counter);
    }
    private void Next()
    {
        Questions[counter].CodeStub = TempCode;
        if (counter < Length)
        {
            ++counter;
        }
        setStub(counter);
    }
    private void Submit()
    {
        //save code tem
        Questions[counter].CodeStub = TempCode;
        //navigate to submission page

    }
}
