@page "/SubmissionPage/"
@using CodeSubmissionSimple.Client.Services
@using CodeSubmissionSimple.Shared
@inject HttpClient Http

<h3>Test Environment</h3>
<style>
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .item {
        width: 48%;
        height: 100px;
        margin-bottom: 2%;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

        .item:nth-child(3n) {
            width: 100%;
        }

    .top {
        height: 60vh;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

    .bottom {
        height: 20vh;
        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    }

    .btn-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        width: 100%;
    }

    #prev {
        justify-self: flex-start;
    }

    #next {
        justify-self: flex-start;
    }

    #submit {
        justify-self: flex-end;
    }


    textarea {
        width: 60%;
    }

    .right {
        width: 40%;
    }
</style><label>Temp code : @TempCode</label>

<div class="container-fluid wrapper">

    <div class="left">
        <!--TextArea-->
        @if (Quests != null)
        {
            <textarea @bind="TempCode" rows="15"></textarea>
        }

    </div>
    <div class="border-left right">
        <!--Question-->
        @if (Quests != null)
        {
            <br>
            @if (Quests.Count > counter)
            {
                <p><h4>Question:</h4> <br />@(Quests[counter].Question.Description)</p>
            }

        }
    </div>
</div>
<div class="row bottom">
    <div class="col-sm-8 buttons btn-container">
        <!--Buttons-->
        @if (counter > 0)
        {
            <button id="prev" type="button" class="btn  btn-primary btn-lg" @onclick="Previous">Prev</button>
        }
        @if (counter < Length - 1)
        {
            <button id="next" type="button" class="btn btn-primary btn-lg btn-success" @onclick="Next">Next</button>
        }
        else
        {
            <button id="submit" type="button" class="btn btn-primary btn-lg btn-success" @onclick="Submit">Submit Your Code</button>
        }
    </div>

</div>

@code {
    [Inject]
    ISubmisstionDataService _sClient { get; set; }

    private Submission submission;
    List<TestStatus> Quests { get; set; }

    string TempCode { get; set; } = "";

    int counter { get; set; } = 0;
    int Length { get; set; } = 0;
    protected override async Task OnInitializedAsync()
    {
        //gets the submission model from the ID num
        submission = await Http.GetFromJsonAsync<Submission>($"api/Submission/1");

        if (submission != null)
        {
            Quests = submission.Answers;
            counter = 0;
            Length = Quests.Count();
            setStub(counter);
        }
        else
        {
            // need to do
        }
    }

    private void setStub(int counter)
    {

        if (counter > 0 || counter < Length)
        {
            if (string.IsNullOrEmpty(Quests[counter].Code))
            {
                TempCode = Quests[counter].Question.CodeStub;
            }
            else
            {
                TempCode = Quests[counter].Code;
            }

        }
    }

    private void Previous()
    {
        Quests[counter].Code = TempCode;
        if (counter > 0)
        {
            --counter;
        }
        setStub(counter);
    }
    private void Next()
    {
        Quests[counter].Code = TempCode;
        if (counter < Length)
        {
            ++counter;
        }
        setStub(counter);
    }
    private async Task Submit()
    {
        Quests[counter].Code = TempCode;
        submission.isCompleted = true;
        submission = await _sClient.UpdateSubmission(submission);

        if (submission != null)
        {
            TempCode = "Completed";
        }
        else
        {
            TempCode = "eish";
        }
    }
}
