@page "/TestingGround"

<style type="text/css">
   

    #wrapper {
        border: 1px solid red;
        position: relative;
        height: 90%;
        width: 100%;
        margin: 15px auto
    }

        #wrapper::before {
            content: "wrapper";
            text-transform: uppercase;
            left: 0px;
            position: absolute;
            top: -18px;
            font-size: 16px;
            color: red;
        }
</style>
<h3>TestingGround</h3>
<hr />
<div class="testQuest">
    <div class="textArea">
        <button onclick="TLN.append_line_numbers('test')"> NUMBERIFY! </button>
        <button onclick="TLN.remove_line_numbers('test')"> UN-NUMBERIFY! </button>
        <div id="wrapper">
            <textarea id="test" class="banana-cake"></textarea>
        </div>

    </div>
    <div class="question-div">
        <div class="description">
        </div>
        <div class="details">
        </div>
    </div>
</div>
@code {
    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }
    
}
